<div class="container">
    <h1 class="text-center">Work Order List: </h1>
    <table border="1" class="container">
        <tr>
            <th>Title</th>
            <th>Description</th> 
            <th>Deadline(sorted)</th>
            <th>Edit</th>
        </tr>
            <% @orders.sort_by{|s| Date.parse s.deadline }.each do |order|%>
                    <tr >
                        <td><%= link_to order.title, order_path(order.id) %></td>
                        <td><%= order.description%> </td> 
                        <td><%= order.deadline%> </td>
                        <td><%= link_to "EDIT", edit_order_url(order.id), class: "text-warning" %></td>
                    </tr>
            <% end if @orders %>
    </table>

    <br><br>
    <%= link_to "Add Work Order", "/orders/new", class: "btn btn-lage btn-primary" %>
    <%= link_to "Add Worker", "/workers/new", class: "btn btn-lage btn-danger" %>

    <br><br>
    <%= link_to "Convert to JSON", "/orders/v1/api", class: "text-info"%>

</div>