 <div class="container">
    <h1 class="text-center">Work Order Form</h1>

    <%= form_for @order do |f|%>
        <div class="form-group ">
            <%= f.text_field :title, id:"inputTitle", placeholder: "Work Order Title", :required => true, class: "form-control" %>
        </div>
        <div class="form-group ">
            <%= f.text_area :description, id:"inputDescription", placeholder: "Work Order Descriptio", :required => true, class: "form-control" %>
        </div>
        <div class="form-group ">
            <%= f.date_field :deadline, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), :required => true, class: "form-control"%>
        </div>
        <div class="form-group ">
            <%= f.submit "Add Work Order", class: "btn btn-large btn-primary form-control" %>
        </div>
    <% end %>

    <%= link_to "Go Back", "/orders", class: " container btn btn-large btn-danger" %>

</div>