<h1>Workers List:</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Company Name</th> 
        <th>Email</th>
        <th>Delete</th>
    </tr>
        <% @workers.sort.each do |worker|%>
                <tr >
                    <td><%= worker.name %></td>
                    <td><%= worker.company_name%> </td> 
                    <td><%= worker.email%> </td>
                    <td><%= link_to "DELTE", worker_path(worker), :method => :delete, data: {confirm: "Are you sure?"}%></td>
                </tr>
        <% end if @workers %>
</table>

<br><br>
<%= link_to "Add Worker", "/workers/new" %>
