<div class="container">
    <h1 class="text-center">Workers List:</h1>

    <table border="1" class="container">
        <tr>
            <th>Name</th>
            <th>Company Name</th> 
            <th>Email</th>
            <th>Order_Id</th>
            <th>Delete</th>
        </tr>
            <% @workers.each do |worker|%>
                    <tr >
                        <td><%= link_to worker.name, worker_path(worker.id)%></td>
                        <td><%= worker.company_name%> </td> 
                        <td><%= worker.email%> </td>
                        <td><%= worker.order_id%> </td>
                        <td><%= link_to "DELTE", worker_path(worker), :method => :delete, data: {confirm: "Are you sure?"}%></td>
                    </tr>
            <% end if @workers %>
    </table>

    <br><br>
    <%= link_to "Add Worker", "/workers/new", class: "container btn btn-large btn-primary"%>
    <br><br>
    <%= link_to "Go Back", "/orders" %>
<div>